/* MonthView.css */
.month-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f7f5f2;
}

/* Header styles */
.month-header {
  background-color: #b3d2d4;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  margin-left: 40px;
  padding: 0;
  height: 90px;
  margin-right: 1rem;
}

.month-year-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Mbutton {
  background: none;
  border: none;
  color: inherit;
  padding: 5px;
  margin-top: 5%;
  font-size: 500%; 
  text-decoration: none; 
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 30px;
  text-shadow: 0px 3px 5px #929292;
}

p {
  color: #7ca4a7;
  font-size: 25px;
}

.view-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 40px;
}

.view-buttons button {
  width: 100px;
  height: 40px;
  border-color: #929292;
  font-size: 20px;
}

.view-buttons button a {
  color: black;
}

.view-buttons .list {
  background-color: #7ca4a7;
  pointer-events: none;
}

/* Main content styles */
.month-main-content {
  display: flex;
  flex: 1;
  padding: 0;
  justify-content: center;
}

/* Sidebar styles */
.left-bar {
  background-color: #7ca4a7;
  padding: 1rem;
  width: 200px;
  text-align: left;
  border-right: 1px solid #ccc;
}

.add-event-button {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.add-event-button a {
  color: black;
}

.to-do-list {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.to-do-list h2 {
  margin-top: 0;
}

.to-do-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  height: 300px;
}

.to-do-list ul li {
  margin: 0.5rem 0;
}

.to-do-list ul li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.to-do-list ul li input {
  margin-right: 0.5rem;
}

.new-task {
  bottom: 50px;
  width: 100%;
}

.submit {
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.clean-tasks {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}

.bottom-left {
  width: 160px;
  bottom: 20px;
  position: absolute;
}

/* Grid and cell styles */
.month-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  background-color: #f7f5f2;
  padding: 10px 0;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.day-cell {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 100%; /* Adjust the height as needed */
}

.event-item {
  background-color: #b3d2d4;
  padding: 5px;
  margin-top: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* Style for empty cells */
.empty {
  background-color: #f7f5f2;
  box-shadow: none;
}
